body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex; }

.data-container {
  width: 30%;
  padding: 15px; }
  .data-container .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .data-container .title img {
      margin-right: 15px;
      height: 30px; }
    .data-container .title h2 {
      margin-bottom: 0; }
  .data-container .input-box {
    width: 80%; }
    .data-container .input-box.field-input label,
    .data-container .input-box.field-input input {
      display: block;
      width: 100%; }
    .data-container .input-box:not(:first-child) {
      margin-top: 20px; }
    .data-container .input-box.field-checkbox {
      padding: 0; }
      .data-container .input-box.field-checkbox ul {
        padding-left: 1.25rem;
        display: flex;
        flex-wrap: wrap; }
      .data-container .input-box.field-checkbox li {
        width: 50%; }
    .data-container .input-box .form-control:focus,
    .data-container .input-box .btn-secondary:focus {
      box-shadow: none; }
  .data-container #floating-panel {
    width: 80%; }
    .data-container #floating-panel label {
      width: 100%; }
  .data-container .buttons-box {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 5;
    display: flex; }
    .data-container .buttons-box #btn-remove {
      display: none;
      margin-right: 15px; }
      .data-container .buttons-box #btn-remove.active {
        display: block; }

.map-container {
  width: 70%;
  height: 100vh;
  position: relative; }
  .map-container #map {
    width: 100%;
    height: 100vh; }
  .map-container .custom-iw p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0; }
